@model Web3.Module.ViewModels.OrchardPostPartViewModel

<div><strong>@Model.TitlePost</strong></div>


@*
<div>@T["Birth Date: {0}", Model.BirthDateUtc?.ToShortDateString()]</div>
<div>@T["Handedness: {0}", Model.Handedness]</div>
*@